<div id="home-page">
    <div class="row">

        <div id="page">
    <div id="header">
    	<div class="title">Friend Shipping</div>
        <div class="subText">Get what you want, from wherever you want</div>
    </div>

    <div id="pageContent">
        <div class="articleTitle">Submit new item</div>

        <div class="articleContent">

            <select class="input-medium bfh-countries" data-country="US"></select>

            <form role="form">
                <div class="form-group">
                    <label for="product">Product: </label>
                    <input type="text" name="product" class="form-control" id="product"
                        data-bind="textInput: product">
                </div>
                <div class="form-group">
                    <label for="location">Location: </label>
                    <input type="text" name="location" class="form-control" id="location"
                        data-bind="textInput: location">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox">needs meches?</label>
                </div>
                <div>
                    <input type="hidden" name="fb_id" class="form-control" id="fb_id" value="123456">
                </div>
                <button data-bind="click: addWishItem" type="submit" class="btn btn-default" style="width: 100px;">Submit</button>
            </form>
            <br/><br/>
            <h3>My Wishlist:</h3>
            <div class="CSSTableGenerator">
                <table class="table" data-bind="with: wishListModel">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: WishListDataArray">
                    <tr>
                        <td data-bind="text: product"></td>
                        <td data-bind="text: location"></td>
                        <td> <!-- TODO change location to item_id-->
                            <button class="btn btn-default" data-bind="'click': $root.removeFromWishList" style="width: 100px;">remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div/>

            <button class="text-center" onclick="logout_of_fb()" style="width: 150px;">LOG OUT</button>
        </div>
    </div>





            </div>
    </div>

    <br/><br/><br/>


</div>