<div id="home-page">
    <div class="row">

        <div id="page">
    <div id="header">
    	<div class="title">Friend Shipping</div>
        <div class="subText">Get what you want, from wherever you want</div>
    </div>

    <div id="pageContent">
        <div class="articleTitle">Submit new item</div>

        <div class="articleContent">
        <form role="form">
            <div class="form-group">
                <label for="product">Product: </label>
                <input type="text" name="product" class="form-control" id="product"
                        data-bind="textInput: product">
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" name="location" class="form-control" id="location"
                        data-bind="textInput: location">
            </div>
            <div class="checkbox">
                <label><input type="checkbox">needs meches?</label>
            </div>
            <div>
                <input type="hidden" name="fb_id" class="form-control" id="fb_id" value="123456">
            </div>
            <button data-bind="click: addWishItem" type="submit" class="btn btn-default">Submit</button>
        </form>
            <br/><br/><br/><br/>
            <h3>My Wishlist:</h3>
            <div class="CSSTableGenerator">
                <table class="table" data-bind="with: wishListModel">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: WishListDataArray">
                    <tr>
                        <td data-bind="text: product"></td>
                        <td data-bind="text: location"></td>
                    </tr>
                    </tbody>
                </table>
                <div/>

            <button onclick="logout_of_fb()" width="3">LOG OUT</button>
        </div>
    </div>





            </div>
    </div>

    <br/><br/><br/>


</div>