<div id="login-page">
    <div class="ribbon"></div>
    <div class="login">
        <h1>Friend Shipping</h1>

        <h3>The world is just a click away!</h3>

        <form action="login">
            <fb:login-button
                    scope="public_profile,email,user_about_me,user_friends,user_tagged_places,user_location,user_posts"
                    onlogin="checkLoginState();">
            </fb:login-button>
        </form>

    </div>
    <br/>
    <br/>
    <img class="center-block" src="/tavili/public/app/images/facebook_suitcase.jpg" align="center">
</div>
